<!-- <p>details works!</p> -->
<div class="form-container">
    <div class="container">
        <h3 *ngIf="isAddMode" class="headings"><strong>Add Details</strong></h3>
        <h3 *ngIf="!isAddMode" class="headings">Update Details</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div fxLayout>
                <div class="textField">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-error *ngIf="f.firstName.errors && f.firstName.touched">
                            <div *ngIf="f.firstName.errors.required">First Name is Mandatory</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="textField">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">

                        <mat-error *ngIf="f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">last Name is Mandatory</div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>


            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />

                <mat-error *ngIf="f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is Mandatory</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </mat-error>
            </mat-form-field>



            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Mobile No</mat-label>
                <input matInput formControlName="mobile" />
                <mat-error *ngIf="f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">Mobile Number is Mandatory</div>
                    <div *ngIf="f.mobile.errors.pattern">Must be 10 digits</div>
                </mat-error>
            </mat-form-field>

            <h3 class="headings"><strong>Address</strong></h3>
            <div fxLayout>
                <div class="textField">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Street</mat-label>

                        <input matInput formControlName="street" />
                        <mat-error *ngIf="f.street.errors" class="invalid-feedback">
                            <div *ngIf="f.street.errors.required">street is Mandatory</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="textField">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" />
                        <mat-error *ngIf="f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">city is Mandatory</div>
                            <div *ngIf="f.city.errors.pattern">city is should be text not numbers</div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout>
                <div class="textField">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state">
                            <mat-option *ngFor="let state of states" [value]="state">
                                {{state}}
                            </mat-option>
                        </mat-select>

                        <!-- <input matInput formControlName="state" /> -->
                        <mat-error *ngIf="f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">state is Mandatory</div>

                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="textField">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Pincode</mat-label>
                        <input matInput formControlName="pincode" />
                        <mat-error *ngIf="f.pincode.errors" class="invalid-feedback">
                            <div *ngIf="f.pincode.errors.required">pincode is Mandatory</div>
                            <div *ngIf="f.pincode.errors.pattern">pincode should numbers and of length 6</div>
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
            <div>
                <button mat-raised-button color="primary" class="form-field">Add</button>
            </div>
        </form>

    </div>
</div>