<!-- <p>dashboard works!</p> -->


<div class="container">
    <div fxLayout="row" fxLayout.xs="column" class="dashboard">
        <div>
            <button mat-raised-button color="primary" class="form-control" (click)="showAll()">show all</button>
        </div>&nbsp;
        <div>
            <!-- <button class="btn btn-primary" routerLink="/details">Add</button> -->
            <p>
                <mat-icon routerLink="/details" style="height: 10px; font-size: 40px; margin-right: 12px; ">person_add&nbsp;</mat-icon>
            </p>
        </div>&nbsp;
        <div>
            <input type="datetime-local" name="search" [(ngModel)]="searchText" style="height: 38px;">
        </div>&nbsp;
        <div>
            <input type="datetime-local" name="searchto" [(ngModel)]="searchTextto" style="height: 38px;">
        </div>&nbsp;
        <div>
            <button mat-raised-button color="primary" class="form-control" (click)="search()">search</button>
        </div>&nbsp;

    </div>
    <div *ngIf="disp">


        <mat-table [dataSource]="dsColTable" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of colTable">
                <ng-container *ngIf="column !== 'edit' && column !== 'delete'">

                    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
                    <mat-cell *matCellDef="let selectedUsers"> {{selectedUsers[column]}} </mat-cell>
                </ng-container>
                <ng-container *ngIf="column === 'edit' ">
                    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
                    <mat-cell *matCellDef="let selectedUsers ">
                        <mat-icon [routerLink]="['/details/',selectedUsers.id]">edit</mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container *ngIf="column === 'delete' ">
                    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
                    <mat-cell *matCellDef="let selectedUsers ">
                        <mat-icon (click)="deletePost(selectedUsers.id)">delete</mat-icon>
                    </mat-cell>
                </ng-container>
            </ng-container>

            <mat-header-row *matHeaderRowDef="colTable"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colTable;"></mat-row>

        </mat-table>
    </div>

</div>



<router-outlet></router-outlet>